<div mat-dialog-title>
    <h1>Employee Form</h1>
</div>
<div mat-dialog-content>

    <div class="row">

        <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput type="first name" placeholder="John">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput type="last name" placeholder="Cena">
        </mat-form-field>

    </div>

    <div class="row">

        <mat-form-field appearance="outline">

            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="test@email.com">

        </mat-form-field>

        <mat-form-field appearance="outline">

            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>

        </mat-form-field>

    </div>

    <div >
        <div class="gender">
            <mat-radio-group aria-label="Select an option">
                <mat-label class="label">Gender</mat-label>
                <mat-radio-button value="male" class="radio-button">Male</mat-radio-button>
                <mat-radio-button value="female" class="radio-button">Female</mat-radio-button>
                <mat-radio-button value="others" class="radio-button">Others</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
        
    <div class="row">

        <!-- <h4>Education</h4> -->
        <mat-form-field appearance="outline">
            <mat-label>Eductation</mat-label>
            <mat-select>
                @for (degree of eductation; track $index) {
                <mat-option [value]="degree">{{degree}}</mat-option> }
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Company</mat-label>
            <input matInput type="text" placeholder="XYZ Pvt. Ltd.">
        </mat-form-field>
    </div>

    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Expirence</mat-label>
            <input matInput type="number" placeholder="3">
            <mat-hint>In years</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Package</mat-label>
            <input matInput type="number" placeholder="12.5">
            <mat-hint>In Rupees</mat-hint>
        </mat-form-field>
    </div>
</div>

<div mat-dialog-actions class="action">

    <button mat-raised-button color="primary">+ Add</button>

    <button mat-raised-button>Delete</button>

</div>